<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Filtro de dependente</title>
    </head>
    <body>
        <p >Escolha a idade para buscar seu dependente:</p>
        <form action = "/Dependente/DependenteFiltro" method="get">
            <label for="idade">Idade:</label>
                <input type="text" id="idade" name="idade"><br><br>
            <input type="submit" value="Enviar">
            <input type="reset" value="Limpar"/><br>
        </form>
        <a href="/Dependente/DependenteLista"><button>Lista de dependente</button></a>
    </body>
</html>